.button {
    -fx-text-fill: #000000;
    -fx-text-transform: uppercase;
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: 250px;
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-border-color: #2c2c2c;
    -fx-border-radius: 5px;
    -fx-padding: 0 40px;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.button:hover {
    -fx-text-fill: #000000;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian,#2c2c2c, 30, 0, 0, 0);


}

.button:pressed {
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}